### Question 1:
### Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.
###### Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example; Input: john@google.com Output: google

In [1]:
email = input('Enter your email address: ')
company = email.split('@')[1].split('.')[0]
print(f'Company name is: {company}')

Enter your email address: xyz@rediffmail.com
Company name is: rediffmail

#### Ques2. Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

**Input Format:
The first line of input contains words separated by the comma.**

**Output Format:
Print the sorted words separated by the comma.**

**Example:**

**Input:**
without,hello,bag,world

**Output:**
bag,hello,without,world

In [4]:
words = input('Enter the words: ').split(',')
words.sort()
words_sorted = ','.join(i for i in words)
print(words_sorted)

Enter the words: without,hello,bag,world
bag,hello,without,world

### Question 3:  Create your own Jupyter Notebook for Sets

##### Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp

### Sets

A set is an unordered collection of iterable data which has no duplicate element and is also mutable
Since set is unordered and unindexed, the elements of a set cannot be accessed by their indexes, but as set has iterable data the elements can be accessed using a for loop
The elements of the set cannot be edited but new elements can be added into the set using the following methods:

In [5]:
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

### 1.  Acessing Item 

* As we cannot access items in a set by referring to an index, since sets are unordered the items has no index 
* We can access the element in a set by using for loop
* Sets are unordered, so We cannot be sure in which order the items

In [6]:
items = {'Raghavendra','Ram','Krishna','Dollar'}
for i in items:
    print(i)

Raghavendra
Dollar
Krishna
Ram

### 2. Change Item
* Just like Tuple , Once a set is created, you cannot change its items.
* But we can add new items 
<hr>

### Adding New item 
* For **adding single item** to a set use the **add()** method.

* For **adding more than one item** to a set use the **update()** method.

In [7]:
tems = {'Raghavendra','Ram','Krishna','Dollar'}
print('SET is: ',items)

# add( ) method :
items.add('corona')
print('Single element added by using add function: ', items)

# update( ) method : 
items.update(['ABC','XYZ','TMD'])
print('Multiple elements are added by using update fnction: ', items)

SET is:  {'Raghavendra', 'Dollar', 'Krishna', 'Ram'}
Single element added by using add function:  {'corona', 'Ram', 'Dollar', 'Raghavendra', 'Krishna'}
Multiple elements are added by using update fnction:  {'corona', 'XYZ', 'Ram', 'ABC', 'Dollar', 'Raghavendra', 'Krishna', 'TMD'}

### Methods of Set :
* len()
* remove()
* clear()
* pop()
* discard()
* add()
* update()
* copy()
* difference()
* union()
* intersection()
* symmetric difference()
... Etc

In [8]:
set1 = {'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}
set2 = {'i','j','k','l','m','n','object'}
print('SET1: ',set1)
print('SET2: ',set2)
print('Length of Set1: ',len(set1))
print('Length of Set2: ', len(set2))

SET1:  {'c', 'h', 'b', 'a', 'd', 'e', 'g', 'f'}
SET2:  {'n', 'm', 'object', 'k', 'l', 'j', 'i'}
Length of Set1:  8
Length of Set2:  7

In [9]:
print('Removing one element from set1: ')
set1.remove('c')
print('After removing SET1 is: ',set1)

Removing one element from set1:
After removing SET1 is:  {'h', 'b', 'a', 'd', 'e', 'g', 'f'}

To remove an item in a set, you can use remove() or discard()
If you use remove( ) if the item is not in a set , It will raise an error .
If you use discard( ) if the item is not in a set , It will not raise an error .

In [10]:
set3 = {'apple','banana','cherry','mango'}
print("SET3: ", set3)
set3.clear()
print('Clearing a set:',set3)

SET3:  {'apple', 'cherry', 'banana', 'mango'}
Clearing a set: set()

In [11]:
print('Deleting set3:')
del set3
print('Set Deleted Succesfully')

Deleting set3:
Set Deleted Succesfully

In [12]:
print('Join two sets: SET1 and SET2:')
print('SET1: ',set1)
print('SET2: ',set2)
set3 = set1.union(set2)
print('After joining two sets: ', set3)

Join two sets: SET1 and SET2:
SET1:  {'h', 'b', 'a', 'd', 'e', 'g', 'f'}
SET2:  {'n', 'm', 'object', 'k', 'l', 'j', 'i'}
After joining two sets:  {'h', 'b', 'a', 'k', 'm', 'object', 'i', 'd', 'n', 'e', 'l', 'j', 'g', 'f'}

In [13]:
print('Checking the Common/Duplicate Items: ')
seta = set1.intersection(set2)
print('Intersection of sets:', seta)

Checking the Common/Duplicate Items:
Intersection of sets: set()

# Ques4. Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

**Input Format:
The first line contains n-1 numbers with each number separated by a space.**

**Output Format:
Print the missing number**

**Example:**

**Input:**
1 2 4 6 3 7 8

**Output:**
5

In [14]:
nums = set([int(i) for i in input().split()])
full = set([i for i in range(1, max(nums)+1)])
print(*(nums ^ full))

1 2 4 6 3 7 8
5

# Ques5. With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

**Example:**

**Input list**
12 24 35 24 88 120 155 88 120 155

**Output**
12 24 35 88 120 155

In [15]:
nums = [int(i) for i in input().split()]
print(*sorted(set(nums), key = nums.index))

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155